@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*
ESTILIZACAO DO MENU
A BAIXO 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.areaGeral {
  display: flex;
}
.area {
  width: 198px;
}
.sidebar {
  width: 198px;
  height: 700px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(120.28deg, #dc2d64 41.47%, #e71d36 105.51%);
}

.top-area p {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 30px;
  font-weight: 400;
  color: #fff;
}

.top-area h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

#avatar {
  padding-top: 49px;
  padding-bottom: 35px;
}
.link-img img {
  margin-left: 40px;
  margin-top: 40px;
}

.link {
  width: 140px;
  height: 214px;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links {
  margin-top: -52px;
  padding-right: 40px;
  font-size: 16px;
}

.link a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 25px;
}

.bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.campanha {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

a.semibold {
  padding-left: 30px;
}

.semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  margin-left: 82px;
  padding-right: 120px;
}

.gerenciar {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  text-decoration: none;
  color: #fff;
  margin-top: -20px;
  padding-bottom: 30px;
  margin-left: 24px;
  padding-right: 40px;
}

.linha {
  margin-top: 40px;
}

.linha img {
  margin-top: 35px;
  margin-left: 5px;
}

hr {
  color: rgb(255, 255, 255);
  width: 150px;
}

.sair {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  text-decoration: none;
  color: #fff;
  margin-left: 50px;
  margin-top: -26px;
}
/*
ESTILIZACAO DO MENU
A cima
*/
header {
  width: 1000px;
  height: 70px;
  margin-left: 80px;
  margin-top: 39px;
  display: flex;
  align-items: center;
}
header h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 7px;
  width: 1000px;
  color: rgba(0, 0, 0, 0.75);
}
header p {
  color: #999;
}

.area-2 {
  flex-direction: column;
}
.title {
  width: 400px;
}
.icon {
  display: flex;
  margin-left: 510px;
  background: linear-gradient(120.28deg, #dc2d64 41.47%, #e71d36 105.51%);
  width: 89px;
  height: 42px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.banners {
  width: 1000px;
  margin-left: 80px;
  margin-top: 10px;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.banners h1{
  color: rgba(0, 0, 0, 0.75);
}
.atraso {
  width: 317.82px;
  height: 104px;
  display: flex;
  align-items: center;
  border: #F0F8FF 1px solid;
  border-radius: 12px;
  box-shadow: 2px 2px 3px rgba(119, 113, 113, 0.5);
}
.atraso h1 {
  font-size: 30px;
}
.atraso p {
  font-size: 15px;
  color: #999;
}
.texto {
  margin-left: 50px;
  line-height: 30px;
}
.atraso .fundo {
  margin-left: -46px;
}
.atraso .alert {
  width: 27px;
  height: 24;
  margin-left: 45px;
}
.pEnviar {
  width: 317.82px;
  height: 104px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  border: #F0F8FF 1px solid;
  border-radius: 12px;
  box-shadow: 2px 2px 3px rgba(119, 113, 113, 0.5);
}
.pEnviar h1 {
  font-size: 30px;
}
.pEnviar p {
  font-size: 15px;
  color: #999;
}
.pEnviar .texto-2 {
  margin-left: 50px;
  line-height: 30px;
}
.pEnviar .dado-1 {
  width: 27px;
  height: 24;
  margin-left: 45px;
}
.pEnviar .fundo-2 {
  margin-left: -46px;
}
.pTotal {
  width: 317.82px;
  height: 104px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  border: #F0F8FF 1px solid;
  border-radius: 12px;
  box-shadow: 2px 2px 3px rgba(119, 113, 113, 0.5);
}
.pTotal h1 {
  font-size: 30px;
}
.pTotal p {
  font-size: 15px;
  color: #999;
}
.pTotal .texto-3 {
  margin-left: 50px;
  line-height: 30px;
}
.pTotal .pedido-1 {
  width: 27px;
  height: 24;
  margin-left: 45px;
}
.pTotal .fundo-3 {
  margin-left: -46px;
}

.area-3 {
  display: flex;
  margin-left: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
  
.area-3 h1{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.75);
}
.area-3 p {
  color: #999;
  font-size: 14px;
  line-height: 35px;
}
.square-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #F0F8FF 1px solid;
  border-radius: 12px;
  width: 140px;
  height: 104px;
  box-shadow: 2px 2px 3px rgba(119, 113, 113, 0.5);

}
.square-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #F0F8FF 1px solid;
  border-radius: 12px;
  width: 140px;
  height: 104px;
  margin-left: -6px;
  box-shadow: 2px 2px 3px rgba(119, 113, 113, 0.5);
  
}
.square-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #F0F8FF 1px solid;
  border-radius: 12px;
  width: 140px;
  height: 104px;
  margin-left: 16px;
  box-shadow: 2px 2px 3px rgba(119, 113, 113, 0.5);
  
}
.square-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #F0F8FF 1px solid;
  border-radius: 12px;
  width: 140px;
  height: 104px;
  margin-left: 10px;
  box-shadow: 2px 2px 3px rgba(119, 113, 113, 0.5);
  
}
.square-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #F0F8FF 1px solid;
  border-radius: 12px;
  width: 140px;
  height: 104px;
  margin-left: 28px;
  box-shadow: 2px 2px 3px rgba(119, 113, 113, 0.5);
  
}
.square-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #F0F8FF 1px solid;
  border-radius: 12px;
  width: 140px;
  height: 104px;
  margin-left: 22px ;
  box-shadow: 2px 2px 3px rgba(119, 113, 113, 0.5);
  
}
